* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

html, body {
  margin: 2;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 2em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3);
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, .3);

}

.main-nav li {
  padding: 0 5%;
}

.main-header {
  background-color: rgba( 0, 0, 0, .5);
  background-image: url(img/vector-abstract-low-poly-banner-design.png);
  background-size: cover;
  background-blend-mode: multiply;
  padding-bottom: 3px;
}

.my-name {
  text-align: center;
  margin: 1;
  color: white;
  font-weight: normal
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

.section header {
  text-align: center;
  color: #333;
  font-size: 2em;
}

h3 {
  text-align: center;
  font-size: 2em;
  color: #333;
  padding: 2em;
}

h3:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

p {
  text-decoration: none;
}


body {
  font-family: sans-serif;
  line-height: 1;
  color: #333; }

a {
  color: #333; }
  a:hover {
    color: white; 
  text-decoration: none;
  }

#main {
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
 }

img {
  width: 200px;
  height: 150px;
  border-style: solid;
  border: 2px rgb(173, 0, 179);
  margin: 2.6em;
  }

h1 {
  text-align: center;
  font-size: 4em;
  color: #333;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .25em;
  cursor: pointer;
  margin-left: 18em;
}